h1{
  font-size: 20px;
  text-align: center;
}

h2{
  text-align: center;
  font-size: 30px;


}
h3{
  text-align: center;
  
}

.menu{
    margin-top: 100px;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 50px;
    color: rgb(251, 248, 252);
    font-family: monospace;
    font-size: larger;
  
    
  }
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  .menu li {
    display: inline-block;
    margin-left: 200px;
  }
  .menu li a {
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: var(--highlight-color);
      color: rgb(255, 0, 251);

    }  
  }
  @keyframes changeOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
}