<div class="menu">
  <div>
    <h2>MY SKILLS</h2>
  </div>
  <ul style="margin-top: 100px;">
    <li>
      <div>
        <img [src]="ImageWindows" alt="" style="width: 120px; height: 120px;" />
        <h1>Windows</h1>
      </div>
    </li>
    <li>
      <div>
        <img [src]="ImageLinux" alt="" style="width: 120px; height: 120px;" />
        <h1>Linux</h1>
      </div>
    </li>
    <li>
      <div>
        <img [src]="ImageJira" alt="" style="width: 120px; height: 120px;" />
        <h1>Jira</h1>
      </div>
    </li>
    <li>
      <div>
        <img [src]="ImageJava" alt="" style="width: 120px; height: 120px;" />
        <h1>Java</h1>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div>
        <img [src]="ImageMySql" alt="" style="width: 120px; height: 120px;" />
        <h1>MySQL</h1>
      </div>
    </li>
    <li>
      <div>
        <img [src]="ImageGit" alt="" style="width: 120px; height: 120px;" />
        <h1>Git</h1>
      </div>
    </li>
    <li>
      <div>
        <img [src]="ImageJavaScript" alt="" style="width: 120px; height: 120px;" />
        <h1>JavaScript</h1>
      </div>
    </li>
    <li>
      <div>
        <img [src]="ImageTypeScript" alt="" style="width: 120px; height: 120px;" />
        <h1>TypeScript</h1>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div>
        <img [src]="ImageHtml" alt="" style="width: 120px; height: 120px;" />
        <h1>HTML</h1>
      </div>
    </li>
    <li>
      <div>
        <img [src]="ImageCss" alt="" style="width: 120px; height: 120px;" />
        <h1>CSS</h1>
      </div>
    </li>
    <li>
      <div>
        <img [src]="ImageAngular" alt="" style="width: 120px; height: 120px;" />
        <h1>Angular</h1>
      </div>
    </li>
    <li>
      <div>
        <img [src]="ImageVS" alt="" style="width: 120px; height: 120px;" />
        <h1>VS code</h1>
      </div>
    </li>
  </ul>
</div>
